LOG_LEVEL=debug

TEST_ACCESS_TOKEN=111111
TEST_ACCESS_EXPIRE=1694508800000

TEST_PERSON_FILE_ID=12345678
TEST_PERSON_FILE_COUNT=45

TEST_FAMILY_FAMILY_ID=111
TEST_FAMILY_FILE_ID=12345678
TEST_FAMILY_FILE_COUNT=45

# Subscribe User 相关测试数据
TEST_SUB_USER_ID=a51c7a521d7d7805839a7bb3b1170908
TEST_SUB_USER_RESOURCE_COUNT=610

# Subscribe Share 相关测试数据
TEST_SUB_SHARE_ID=12326117459835
TEST_SUB_SHARE_FILE_ID=825321206582647899
TEST_SUB_SHARE_RESOURCE_COUNT=36

# Share 相关测试数据
TEST_SHARE_ID=12466115899850
TEST_SHARE_FILE_ID=223261191228468580
TEST_SHARE_MODE=3
TEST_SHARE_RESOURCE_COUNT=5

# Share With Code 相关测试数据
TEST_SHARE_ID_WITH_CODE=12456117383866
TEST_SHARE_FILE_ID_WITH_CODE=424053206676877404
TEST_SHARE_MODE_WITH_CODE=1
TEST_SHARE_WITH_CODE_RESOURCE_COUNT=36
TEST_SHARE_CODE=ev9g
